[submodule "context-arc"]
	path = submodules/context-arc
	url = https://github.com/the-canteen-dev/context-arc.git
[submodule "submodules/KnowledgeBase"]
	path = submodules/KnowledgeBase
	url = https://github.com/dbrowneup/KnowledgeBase.git
[submodule "submodules/Linus"]
	path = submodules/Linus
	url = https://github.com/dbrowneup/Linus.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
